<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<body>
  <div class="container">
    <h2>Posts</h2>
    <div class="card border-dark">
      <div class="card-body">
        <p>Alex Piter - 02/10/2020</p>
        <h1>Spring Cloud - Zuul</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam asperiores inventore illo? Exercitationem quasi a eligendi eius, quam cupiditate nemo, quisquam dicta maxime placeat, explicabo necessitatibus laudantium debitis reiciendis culpa.
      </div>
    </div>

    <div class="card border-dark">
      <div class="card-body">
        <p>Alex Piter - 02/10/2020</p>
        <h1>Netflix Eureka</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam asperiores inventore illo? Exercitationem quasi a eligendi eius, quam cupiditate nemo, quisquam dicta maxime placeat, explicabo necessitatibus laudantium debitis reiciendis culpa.
      </div>
    </div>

    <div class="card border-dark">
      <div class="card-body">
        <p>Alex Piter - 02/10/2020</p>
        <h1>Arquitetura de Microservices</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam asperiores inventore illo? Exercitationem quasi a eligendi eius, quam cupiditate nemo, quisquam dicta maxime placeat, explicabo necessitatibus laudantium debitis reiciendis culpa.
      </div>
    </div>
  </div>
</body>
<%- include ('partials/footer.ejs') %>